body{
     

}
header{
    border: 1pt solid black;
    background-color: yellow;
}

div.class1{
    background-image: url('images/bg_image.jpg');
    height: 500px;
    background-size: cover;
    border: 0dvi;
}
footer{
    background-color: rgb(59, 59, 97);
    height: 250px;
}
ul{
    margin-left: 75%;
    background-color: rgba(150, 150, 99, 0.774) ;
}
li{ 
    display: inline;
    margin-left: 20px;

}
a{
    
    text-decoration: none;
}
a:hover{
    background-color: yellowgreen;
}